body {
  max-width: 1600px;
  height: 100vh;
  background-color: #fff;
  font-family: 'Open Sans Regular';
  font-size: 18px;
  margin: 0 auto;
}

header {
  max-width: 1200px;
  max-height: 140px;
  margin: 30px auto 30px auto;
}
.logo {
  max-width: 73px;
  width: 100%;
  height: 100%;
  padding-bottom: 35px;
}
.main-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.nav-items {
  min-height: 27px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border: 1px solid black;
  max-width: 582px;
  width: 100%;
  box-shadow: 0.5px 0.5px black;
}
.nav-item {
  padding-right: 36px;
}
.nav-items:last-child {
  padding-right: 35px;
}

.nav-item-link {
  color: black;
  text-decoration: none;
  width: 100%;
}

.header-buttons {
  min-width: 180px;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.btn-wrapper-header {
  display: flex;
  min-width: 58px;
  align-items: center;
  justify-content: space-between;
}

.info-section {
  font-family: 'Cormorant', sans-serif;
  height: 500px;
  background-image: url('../images/bg-img.jpg');
  background-size: cover;
  background-position: center center;
  text-align: left;
  color: #fff;
}

.info-inner {
  padding-left: 200px;
  font-weight: 400;
  padding-top: 254px;
}
.title {
  font-size: 60px;
  line-height: 100%;
  max-width: 790px;
  font-weight: 400;
  min-height: 120px;
}
.info-desc {
  padding-top: 20px;
  min-height: 58px;
  font-size: 24px;
  max-width: 558px;
  line-height: auto;
}

.tea-varieties {
  max-width: 100%;
  max-height: 900px;
  text-align: center;
  font-family: 'Cormorant', sans-serif;
  color: #151618;
}

.tea-main-tittle {
  font-weight: 300;
  font-style: italic;
  max-width: 705px;
  font-size: 40px;
  margin: 150px auto 0 auto;
}
.tea-tittle {
  font-size: 40px;
  font-weight: 400;
}
.tea-collection {
  width: 100%;
  margin: 150px auto 0 auto;
  max-width: 1200px;
  max-height: 355px;
  height: 100%;
  max-height: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  vertical-align: middle;
}

.tea-collection-list {
  margin: 60px 0 0 0;
  display: flex;
  align-items: center;
  vertical-align: middle;
  justify-content: space-between;
  width: 100%;
  max-width: 1200px;
}
.tea-collection-img {
  width: 208px;
  height: 208px;
}
.tea-collection-name {
  font-size: 24px;
  padding-top: 10px;
}
